services:
   db:
      image: postgres:18
      environment:
         POSTGRES_DB: calculator_db
         POSTGRES_USER: calculator_user
         POSTGRES_PASSWORD: calculator_pass
      ports:
         - "5432:5432"
      volumes:
         - calculator_db_data:/var/lib/postgresql/data

   app:
      build: .
      ports:
         - "8080:8080"
      environment:
         SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/calculator_db
         SPRING_DATASOURCE_USERNAME: calculator_user
         SPRING_DATASOURCE_PASSWORD: calculator_pass
      depends_on:
         - db

volumes:
   calculator_db_data:
